# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
*.db
*.sq3
*.prof
/build
/blobs
/data*
/new*
/demo_history
internal/nntp/analysis_*
update.tar.gz
active_files/local-mode.active.filtered
active_files/local-mode.active.filtered.sorted
active_files/local-mode.active.new
active_files/local-mode.active.new.sorted
active_files/local-mode.active
/old_overview
