# tcp2tor configuration file
# Format: listen_host:listen_port:target_host:target_port
# Example configurations for multiple NNTP servers through Tor
# 127.2.3.4:11119:peannyjkqwqfynd24p6dszvtchkq7hfkwymi5by5y332wmosy5dwfaqd.onion:119 # news.tcpreset.net
# 127.9.9.9:6667:ij7fmstcudrwyty5p6iloodeenur4wksovlhbyrfubat7eixplmrxvqd.onion:6667 # irc.pugleaf.net
# 192.168.1.100:2119:internal-ip.onion:119
# 0.0.0.0:3119:public-ip.onion:119
